.idea
*.iml
.gradle
out/
classes/
build/
data/
.vscode/
build
dist/
.grunt/
bower_components/
node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache
.env
.gradle
.idea
out
*.iml
*.ipr
*.iws
.DS_Store
coverage
.coveralls.yml
*.hprof